{% extends 'about/index.html' %} {% load static %} {% block css_app %}
<link rel="stylesheet" href="{% static 'about/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'project/css/styles.css' %}" />
{% endblock %} {% block content_contents %}
<div class="detail">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{proyek.gambar.url}}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="{{proyek.gambar3.url}}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="{{proyek.gambar2.url}}" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="infomation">
    <h4>Detail Project:</h4>
    <ul>
      <li><p>Nama : {{proyek.nama}}</p></li>
      <li><p>Category : {{ proyek.category|join:" , " }}</p></li>
      <li><p>Tanggal : {{proyek.tanggal}}</p></li>
      <li>
        <p>Output : <a href="{{proyek.output}}">Click Here</a></p>
      </li>
    </ul>
  </div>
</div>
<div class="embed">
  <h4>Project Visualization:</h4>
  {% if proyek.embed %}
  <div class="embed-wrapper">{{ proyek.embed|safe }}</div>
  {% endif %}
</div>
<button><a href="{% url 'app_project:project' %}">Back to Projects</a></button>
{% endblock %}
