.content-content {
  display: flex;
  flex-direction: column;
}

.classification {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border-radius: 5%;
}

.classification a {
  border: 2px solid white;
  padding: 3px;
  text-align: center;
  background-color: rgb(32, 58, 83);
  width: 120px;
  font-size: small;
  border-radius: 20%;
}

.classification h3 {
  background-color: rgb(1, 30, 56);
  border-radius: 0.1;
  border: 5px solid rgb(62, 27, 27);
  padding: 15px;
  font-size: small;
}

.thumbnail {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.thumbnail img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  border: 5px solid white;
  padding: 5px;
  object-fit: cover;
}

.carousel {
  border: 5px solid rgb(255, 255, 255);
}

.detail {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}
.infomation {
  border: 5px solid rgb(241, 235, 235);
  padding: 15px;
}
button {
  margin: 5px;
}

.paginator {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Page a {
  color: white;
}

.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 756px) {
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .classification {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    font-size: small;
    gap: 5px;
    border: 5px solid rgb(231, 220, 220);
  }

  .classification a {
    width: 100%;
    border-radius: 5%;
  }

  .classification h3 {
    padding: 1px;
  }

  .thumbnail {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
    width: 90%;
  }
  .thumbnail img {
    width: 100%;
    max-width: 250px;
  }

  .paginator {
    font-size: smaller;
  }

  .detail {
    display: flex;
    flex-direction: column;
  }
}
