{% extends 'base.html' %} {% load static %}
<!-- Css App About -->
{% block css_app %}
<link rel="stylesheet" href="{% static 'about/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'services/css/styles.css' %}" />
{% endblock %}

<!-- Content App About -->
{% block content_contents %}
<div class="content-header">
  <h3>{{title}}</h3>
</div>
<div class="content-content">
  <div class="serviceItemCol">
    {% for items in offer %}
    <div class="serviceItem">
      <i class="{{items.icon}}"></i>
      <h4 class="service">{{items.item}}</h4>
      <h5>{{items.desc}}</h5>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
